# Зависимости
# node_modules/

# Собранные файлы
# build/

# Локальные файлы конфигурации
fly_import_env.js
crowdin.example.yml

# Файлы с определениями типов
remix.env.d.ts

# Локальные файлы окружения
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Редакторы и IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Операционные системы
.DS_Store
Thumbs.db
